In [1]:
import pandas as pd

In [11]:
adj_acc = pd.read_csv('D:/Thesis/UK/UK/adjustment/accident_adjustment_lookup_2019.csv')

adj_cas = pd.read_csv('D:/Thesis/UK/UK/adjustment/cas_adjustment_lookup_2019.csv')

In [6]:
adj['year']= adj['accident_index'].apply(lambda x:x[:4])

In [10]:
adj[adj['year']>'2016']

        accident_index  adjusted_serious  adjusted_slight  injury_based  year
2097013  2017010009342          0.000000         1.000000             1  2017
2097014  2017010009344          0.000000         1.000000             1  2017
2097015  2017010009348          0.000000         1.000000             1  2017
2097016  2017010009350          1.000000         0.000000             1  2017
2097017  2017010009351          0.000000         1.000000             1  2017
...                ...               ...              ...           ...   ...
2462156  2019984106919          0.183336         0.816664             0  2019
2462157  2019984107019          0.074588         0.925412             0  2019
2462158  2019984107219          0.048524         0.951476             0  2019
2462159  2019984107419          0.183316         0.816684             0  2019
2462160  201998QC01004          1.000000         0.000000             0  2019

[365148 rows x 5 columns]

In [12]:
adj_cas

,accident_index,Vehicle_Reference,Casualty_Reference,Adjusted_Serious,Adjusted_Slight,Injury_Based
0,200401BS00001,1,1,0.239280,0.760720,0
1,200401BS00002,1,1,1.000000,0.000000,0
2,200401BS00003,1,1,0.057141,0.942859,0
3,200401BS00003,1,2,0.048599,0.951401,0
4,200401BS00004,1,1,0.187000,0.813000,0
...,...,...,...,...,...,...
3314732,2019984106919,1,1,0.183336,0.816664,0
3314733,2019984107019,1,1,0.074588,0.925412,0
3314734,2019984107219,2,1,0.048524,0.951476,0
3314735,2019984107419,1,1,0.183316,0.816684,0
3314736,201998QC01004,1,1,1.000000,0.000000,0